body
{
    margin: 0px;
    padding: 0px;
}
.flex
{
    display: flex;
}
.row
{
    flex-direction: row;
}
.column
{
    flex-direction: column;
}
.align-center
{
    align-items: center;
}

.justify-center
{
    justify-content: center;
}
.space-between
{
    justify-content: space-between;
}
.space-evenly
{
    justify-content: space-evenly;
}
.main-container >div:nth-child(1)
{
    height: 80vh;
    background: white;
}

.main-container >div:nth-child(2)
{
    height: 20vh;
    background: #43689b;
}
.top-container >div:nth-child(1)
{
    background: #f0f0f0;
    height: 100%;
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.display-box
{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 95%;
}
.display-box>div:nth-child(1)
{
    width: 94%;
    height: 40%;
    background: #454545;
}
.display-box>div:nth-child(2)
{
    width: 100%;
    height: 60%;
    background: white;
}
.music-play-area
{
    padding:2% 3%;
    display: flex;
    flex-direction: row;
    gap:50px;
    align-items: center;
}
.music-play-area >div:nth-child(1)
{
    height: fit-content;
    width: fit-content;
}
.music-play-area >div:nth-child(2)
{
    height: 80%;
    width: 80%;
    color: white;
}

.text-1
{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
.text-2
{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    height: fit-content;
    font-size: 12px;
}
.music-play-area >div:nth-child(1)>img
{
    height: 160px;
}
.play-btn-area
{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.play-btn-area span
{
    margin:auto 4px;
}
.img-2
{
    height: 50px;
}

.play-controls
{
    width: 70%;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: white;
}
.album-area
{
    padding-left: 20px;
    gap: 10px;
    color: white;
}
.album-title
{
    gap:10px
}
i
{
    cursor: pointer;
    padding: 5px;
}
i:hover
{
    background: rgba(20,20,255,0.325);
    border-radius: 50%;
    
}
.table
{
    height: fit-content;
    width: 95%;
    margin: auto 2.5%;
    border-collapse: collapse;
}
td {
    width: 25% ;
    padding: 10px 16px;
  }
tr:nth-child(2n)
{
    background: #f0f0f0;
    border-radius: 4px;
}
.text-3
{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 13px;
}
a
{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 13px;
    text-decoration: none;
    background: white;
}
button
{
    background: white;
    border: none;
    border: 1px solid rgb(80, 80, 80);
}